<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmartH2O_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smarth2oservice-5.apphb.com/SmartH2O_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartH2O_Service"
                contract="SmartH20_Service.ISmartH2O_Service" name="BasicHttpBinding_ISmartH2O_Service" />
        </client>
    </system.serviceModel>
</configuration>